extends templates/template.pug

append config
  -pageTitle = 'Contáctenos'
  -description = 'Lorem ipsum dolor sit amet consectetur adipisicing elit'
  -currentPage = 'contacto'

block main
  <iframe height="500" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://litz612.wufoo.com.mx/embed/z1fir5be0rgwxh5/">
    <a href="https://litz612.wufoo.com/forms/z1fir5be0rgwxh5/"> Fill out my Wufoo form!</a>
  </iframe>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bd1eG6tt9Irw3XC5EHOJwKs_QV_0onwN" width="100%" height="280"></iframe>