extends templates/template.pug

append config
  -pageTitle = 'Portafolio'
  -description = 'Lorem ipsum dolor sit amet consectetur adipisicing elit'
  -currentPage = 'portafolio'

block main
  h1 Portafolio
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi in, minus commodi sequi repudiandae eveniet quod harum voluptas quidem, quae tempora! Enim sint, recusandae unde architecto repellat aut maxime numquam?Maxime repudiandae officiis iure, consectetur voluptate eius quia doloribus fuga! Exercitationem ex laborum ea non voluptatum. Beatae, ullam. Veniam, harum necessitatibus quos consequuntur sunt facilis quod! Sequi autem eos nobis?Minima, tempora ex? Officia sit eligendi atque tenetur mollitia veniam dolor doloribus! Ex placeat nam ea numquam, aspernatur sit illum consectetur impedit nostrum expedita mollitia esse labore, accusantium culpa sint.
